@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: hsl(225, 100%, 94%); */
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    line-height: 1.5;
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(223, 47%, 55%);
}

main{
    margin: 0 auto;
    width: 320px;
    max-width: 100%;
    /* background-color: brown; */
    height: 500px;
    margin-top: 50px;
    text-align: center;
}

.top{
    margin-bottom: 0px;
    padding-bottom: 0;
    white-space: calc(0);
}

img{
    width: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.middle{
    margin-top: 0px;
    background-color: hsl(225, 100%, 98%);
    padding: 20px;
    /* display: inline-block; */
}

p{
    margin-top: 10px;
    font-size: 16px;
}

.icon{
    width: 40px;
}

.annual{
    display: flex;
    width: 100%;
    margin-top: 20px;
    background-color: hsl(225, 100%, 94%);
    border-radius: 10px;
    padding: 8px;
}

.change{
    width: 40%;
}

.plan{
    width: 35%;
}

.music{
    width: 15%;
}

span{
    color: grey;
}

button{
    margin-top: 30px;
    width: 280px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(245, 75%, 52%);
    color: white;
    box-shadow: 0px 10px hsl(225, 100%, 94%);
}

.cancel{
    margin-top: 15px;
}

.cancel a{
    text-decoration: none;
    color: rgb(49, 47, 47);
}

@media (max-width: 765px){
    body{
        overflow: none;
        width: auto;
        height: auto;
    }

    main, img{
        width: 280px;
    }

    button{
        width: 230px;
    }
}